@model MenuAndCategory


<h2>Kategori Listesi</h2>

<div class="accordion" id="accordionExample">
    <div class="accordion-item ">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#CategoryEkle" aria-expanded="true" aria-controls="CategoryEkle">
                Kategori Ekle
            </button>
        </h2>
        <div id="CategoryEkle" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <form action="/Home/AddCategory" method="post" autocomplete="off">
                    <div class="mb-3">
                        <label for="CategoryName" class="form-label">Kategori Adı</label>
                        <input type="text" class="form-control" id="CategoryName" name="CategoryName" aria-describedby="emailHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>


<h2>Kategoriler</h2>
<div class="accordion mt-5" id="accordionFlushExample">
    @foreach (var category in Model.Category)
    {
        <div class="accordion-item">
            @if (category.Id == ViewBag.Id)
            {
                <form action="/home/UpdateCategory" method="post" autocomplete="off" class="flex-grow-1">
                    <div class="input-group">
                        <div class="input-group-text">
                            <input type="hidden" name="Id" value="@category.Id" />
                        </div>
                        <input required type="text" class="form-control" name="CategoryName" value="@category.CategoryName">
                        <button class="btn btn-success"><i class="bi bi-floppy"></i></button>
                        <a class="btn btn-outline-secondary" href="/Home/Editor"><i class="bi bi-x-lg"></i></a>
                    </div>
                </form>
            }
            else
            {
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-@category.CategoryName" aria-expanded="false" aria-controls="flush-@category.CategoryName">
                        @category.CategoryName
                    </button>
                </h2>
            }

            <div id="flush-@category.CategoryName" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <a href="/Home/Editor/@category.Id" class="btn btn-primary">Güncelle</a>
                    <a href="/Home/DeleteCategory/@category.Id" class="btn btn-danger">Sil</a>
                </div>
            </div>
        </div>
    }
</div>

